/* See https://gitlab.gnome.org/GNOME/gnome-shell/-/tree/main/data/theme/gnome-shell-sass */

#overview {
  background: black;
}

#panel {
  height: 0;
}
#panelActivities .workspace-dot {
  min-height: 0;
}

.dash-background {
  background: blank;
}

.notification-banner {
  background: black;
  box-shadow: none;
}

.osd-window {
  background: black;
}

.overview-icon {
  background: none;
}
:checked .overview-icon,
:focus .overview-icon,
:hover .overview-icon,
:selected .overview-icon {
  border: 2px solid white;
}

.run-dialog {
  background: black;
  box-shadow: none;
}
.run-dialog-description {
  height: 0;
}
.run-dialog-entry {
  background: black;
  box-shadow: inset 0 0 0 1px white;
}

.search-entry {
  background: black;
  border-radius: 0.75em;
  box-shadow: inset 0 0 0 1px white;
}

.switcher-list {
  background: black;
  box-shadow: none;
}
.switcher-list .item-box:selected {
  background: none;
  border: 2px solid white;
}
